<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${package}"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="${platform}" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            #if(${projectType} == "masterDetail") android:name="${package}.ItemListActivity"
            #else android:name="${package}.MainActivity"
            #end
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="${package}.ItemDetailActivity"/>
        #if(${projectType} == "masterDetail")
    <activity android:name="${package}.MainActivity"/>
        #else
    <activity android:name="${package}.ItemListActivity"/>    
        #end
    </application>

</manifest>
